@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  text-decoration: none;
  list-style: none;
  font-family: Quicksand;
  font-weight: bolder;
  caret-color: transparent;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 4vmin;
  justify-content: space-around;
  align-items: center;
  margin-left: 15vmin;
  margin-right: 15vmin;
}

.text .animation {
  padding: none;
  margin: none;
}

.animation {
  width: 35vw;
  height: 25vw;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  transform-origin: right;
  position: relative;
}

.left {
  grid-column: 1 / 2;
  border-right: 1px white solid;
}
.right {
  grid-column: 2 / 2;
  z-index: -1;
  height: 100%;
  padding: 0;
  margin: 0;
}

.traslate {
  grid-column: 2 / 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all ease 2.3s;
  transform-origin: right;
  border: 1px white solid;
  transform: perspective(190px);
}


.barra {
  width: 100%;
  height: 8%;
  border-bottom: 1px white solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.circles {
  height: 100%;
  margin: 0;
  border-radius: 50%;
  height: 15px;
  margin: 3px;
  width: 15px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.traslate:hover {
  transform: rotateY(120deg);
}

